
    <!-- <h1>Register</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }} <br>
            {{ form.username(size = 28) }} 
        </p>

        <p>
            {{ form.password.label }} <br>
            {{ form.password(size = 28) }} 
        </p>

        <p>
            {{ form.passwordrp.label }} <br>
            {{ form.passwordrp(size = 28) }} 
        </p>

        <p>
            {{ form.email.label }} <br>
            {{ form.email(size = 28) }} 
        </p>
        <p>
            {{ form.address.label }} <br>
            {{ form.address(size = 28) }} 
        </p>
        <p>
            {{ form.phone.label }} <br>
            {{ form.phone(size = 28) }} 
        </p>

        <p>
            {{ form.submit() }} 
        </p> -->
    <!-- </form> -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    
    
    <html>
    <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
    
    
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='register_style.css')}}">
    </head>
    
    <body>
        
    
    <div class="container">
    <br/>
    <br/>
    <br/>
    <br/>
    
    <center> <b id="login-name">SIGN-UP Here </b> </center>>
        
        <div class="row">
            
    <div class="col-md-6 col-md-offset-3" id="login">  
    
    <form action="#" method="post" novalidate>
        {{ form.hidden_tag() }}      
    <div class="form-group">
    <label class="user"> UserName:  </label>
    <!-- <input type="text" class="form-control" id="text1" name="tl" placeholder="Username"> -->
    {{ form.username(class="form-control",id="text1",placeholder="Username") }} 
    </div>
    
    
    <div class="form-group">
    <label class="user"> Email: </label>    
    <!-- <input type="email" class="form-control" id="text2" name="tl" placeholder=" EnterEmail Address"> -->
    {{ form.email(class="form-control",id="text1",placeholder="Email") }} 
    </div>
    <div class="form-group">
    <label class="user"> Phone Number: </label>    
    <!-- <input type="text" class="form-control" id="text2" name="tl" placeholder=" Enter your mobile Number"> -->
    {{ form.phone(class="form-control",id="text1",placeholder="Phone number") }} 
    </div>
    
    <div class="form-group">
    <label class="user"> Password: </label>
    <!-- <input type="text" class="form-control" id="text2" name="tl" placeholder=" Enter Password"> -->
    {{ form.password(class="form-control",id="text1",placeholder="Password") }} 
    </div>
    
    <div class="form-group">
    <label class="user">Confirm Password: </label>
    <!-- <input type="text" class="form-control" id="text2" name="tl" placeholder=" Enter Confirm passowrd"> -->
    {{ form.passwordrp(class="form-control",id="text1",placeholder="Confirm Password") }} 
    </div>
    
    <div class="form-group">
        <label class="user">Address: </label>
        <!-- <input type="text" class="form-control" id="text2" name="tl" placeholder=" Enter Confirm passowrd"> -->
        {{ form.address(class="form-control",id="text1",placeholder="Address") }} 
        </div>
    
   
    
    <div class="form-group">
    
    <!-- <input type="submit" class="btn btn-success" value="submit" style="border-radius:0px;"> -->
    {{ form.submit(class="btn btn-success",style="border-radius:0px;") }} 
    
        </div>
        <br/><br/><br/>
        
        <a href="/login" style="color: white; font-size: 15px; float: right; margin-right: 10px;"> LogIn </a>
    </form>
      </div>    
        </div>
    </div>
</body>
</html>